 :root {
  --primary-color:#86C232;
  --secondary-color: #6B6E70;
  --font-color: #000000;
  --bg-color: #EDF2F2;
  --heading-color:;
 }
 [data-theme="dark"] {
  --primary-color: #86C232;
  --secondary-color: #474B4F;
  --font-color: #FFFFFF;
  --bg-color: #222629;
  --heading-color:;
 }
 @font-face {
 font-family: moonshine;
 src: url(20______.TTF);
}
#navbar {
 background-color: var(--primary-color);
}
#nav {
    list-style: none;
}
em {
 color: var(--font-color);
}
#navli {
  display: inline;
}
#navref {
    color: var(--font-color);
    font-family: 'Open Sans Condensed', sans-serif;
}
#navref:hover {
    color: #577B2A;
}
.jumbotron {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans Condensed', sans-serif;
}
body {
    background-color: var(--bg-color);
}
.display-4 {
    color: var(--font-color);
    font-family: 'moonshine','Permanent Marker', cursive;
    word-spacing: -40px;
}
.lead {
    color: var(--font-color);
    font-family: 'Open Sans Condensed', sans-serif;
}
footer {
 font-family: 'Open Sans Condensed', sans-serif;
 background-color: var(--primary-color);
 color: var(--font-color);
}
a {
 color: var(--font-color);
}
a:hover {
 color: #577B2A;
 text-decoration: none;
}
#consult {
    color: var(--font-color);
}
#consult:hover {
 color: #577B2A;
}
em {
 color: var(--font-color);
 font-family: 'Open Sans Condensed', cursive;
}
#end{
 color: var(--font-color);
 font-family: 'Open Sans Condensed', cursive;
}
#consult {
    color: var(--font-color);
    font-family: 'Open Sans Condensed', cursive;
}
#consult:hover {
 color: #577B2A;
}



/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}